{% extends 'payment/base.html' %}
{% block title %}
detail
{% endblock %}

{% block page_title %}
{{user.username.title}}
{% endblock %}

{% block content %}
<h4>Информация по доступным средствам</h4>
{% if error_message %}<p>{{error_message}}</p>
{% else %}
<p>{{balance.balance_rub}} RUB</p>
<p>{{balance.balance_dol}} USD
    {% if balance.balance_dol >= 1 %}
    <a title="Продать валюту банку" href="{% url 'payment:sale_dol' user.id %}"> Продать</a>
    {% else %}
    <a title="на вашем счету недостаточно средств" href="{% url 'payment:detail' user.id %}"> Продать</a>
    <a><font color="red">недостаточно средств</font></a>
    {% endif %}</p>

<p>{{balance.balance_eur}} EUR
    {% if balance.balance_eur >= 1 %}
    <a title="Продать валюту банку" href="{% url 'payment:sale_eur' user.id %}"> Продать</a>
    {% else %}
    <a title="на вашем счету недостаточно средств" href="{% url 'payment:detail' user.id %}"> Продать</a>
    <a><font color="red">недостаточно средств</font></a>
    {% endif %}
{% endif%}</p>

<h4>Информация по кредитам</h4>
{% if check_credit %}
<p>У вас имееются следующие кредиты:</p>
{% for credit in user.credit_set.all %}
<ul><li>{{ credit.name_credit }}
    {{ credit.credit }} RUB
<a href="{% url 'payment:credit_repayment' user.id %}"> Внести средства</a>
</li></ul>
{% endfor %}
{% else %}<p>У вас нет кредитов</p>
{%endif%}

{% endblock %}
